# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# entorno virtual
venv/

# archivos compilados de Python
*.pyc
__pycache__/

# bases de datos locales de SQLite
*.sqlite3
*.db

# carpetas de caché de Python
__pycache__/

# archivos de configuración del sistema operativo
.DS_Store # Para macOS
Thumbs.db # Para Windows

# Archivos de log
*.log

# Archivo de configuración local que no se debe compartir
.env